name: Build Mac App

on: [workflow_dispatch]

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Get Code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install Libraries
        run: |
          pip install -r requirements.txt

      - name: Build App
        # This tells the computer to build your app using your icon
        # MAKE SURE your python file is named "main.py"
        # MAKE SURE your icon is named "app_icon.icns"
        run: |
          pyinstaller --noconfirm --onedir --windowed --name "AnatoViewer" --icon="app_icon.icns" --clean anatovieer_v2.py

      - name: Zip the Result
        run: |
          cd dist
          zip -r AnatoViewer_Mac.zip AnatoViewer.app

      - name: Upload for Download
        uses: actions/upload-artifact@v4
        with:
          name: AnatoViewer_Mac
          path: dist/AnatoViewer_Mac.zip
